<!doctype html>
<html lang="es" data-framework="angularjs">
	<head>
		<meta charset="utf-8">
		<title>AngularJS • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<style>[ng-cloak] { display: none; }</style>
	</head>
	<body ng-app="todomvc">
		<ng-view></ng-view>

		<script type="text/ng-template" id="todomvc-index.html">
			<section id="todoapp">
				<header id="header">
					<h1>To do MVC</h1>
					<form id="todo-form" ng-submit="addTodo()">
						<input id="new-todo" placeholder="Qué necesita para ser hecho?" ng-model="newTodo" ng-disabled="saving" autofocus>
					</form>
				</header>
				<section id="main" ng-show="todos.length" ng-cloak>
					<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
					<label for="toggle-all">Marcar todo como completo</label>
					<ul id="todo-list">
						<li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
								<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
								<button class="destroy" ng-click="removeTodo(todo)"></button>
							</div>
							<form ng-submit="saveEdits(todo, 'submit')">
								<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
							</form>
						</li>
					</ul>
				</section>
				<footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="filters">
						<li>
							<a ng-class="{selected: status == ''} " href="#/">Todos</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'active'}" href="#/active">Activo</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'completed'}" href="#/completed">Completado</a>
						</li>
					</ul>
					<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Limpiar completado</button>
				</footer>
			</section>
<footer id="info">
				<p>Doble click para editar todos</p>
				<p>Creditos:
					<a href="aca si queres podes poner el link de tu perfil en facebook," target="_blank">aca va tu nombre</a>,
				</p>
				<p>Parte de <a href="http://todomvc.com" target="_blank">TodoMVC</a></p>
				&copy VIVI XDXDXD 2017
			</footer>
		</script>
		
	</body>
</html>
